@model TrainingApp.Models.Log


@using (Html.BeginForm("Create", "Log", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="log-record">
        @Html.ValidationSummary(true, "")
        <div class="log-record-header">
            @Html.LabelFor(model => model.Header)
            <div>
                @Html.EditorFor(model => model.Header)
                @Html.ValidationMessageFor(model => model.Header)
            </div>
        </div>
        <div>
            <div class="log-record-review">
                @Html.LabelFor(model => model.Review)
                <div>
                    @Html.EditorFor(model => model.Review)
                    @Html.ValidationMessageFor(model => model.Review)
                </div>
            </div>

            <div class="log-record-workout">
                @Html.LabelFor(model => model.Workout)
                <div>
                    @Html.EditorFor(model => model.Workout)
                    @Html.ValidationMessageFor(model => model.Workout)
                </div>

                <div class="log-record-date">
                    @Html.LabelFor(model => model.Date)
                    <div>
                        @Html.EditorFor(model => model.Date)
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Create" class="btn-create-log" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}