@model TrainingApp.Models.Log


@using (Html.BeginForm("Create", "Log", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="log-record">
        @Html.ValidationSummary(true, "")
        <div class="log-record-header">
            <div>
                @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "editor-log" } })
                @Html.ValidationMessageFor(model => model.Header)
            </div>
        </div>
        <div>
            <div class="log-record-review">
                <div>
                    @Html.EditorFor(model => model.Review, new { htmlAttributes = new { @class = "editor-log" } })
                    @Html.ValidationMessageFor(model => model.Review)
                </div>
            </div>

            <div class="log-record-workout">
                <div>
                    @Html.EditorFor(model => model.Workout, new { htmlAttributes = new { @class = "editor-log" } })
                    @Html.ValidationMessageFor(model => model.Workout)
                </div>

                <div class="log-record-date">
                    <div>
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "editor-log" } })
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Create" class="btn-create-log" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}